:root {
  --primary-color: #1d5888;
  --secondary-color: #ff953b;
  --dark-color: #292929;
  --light-color: #dff3e4;
}

.footer-link {
  text-decoration: none;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

footer {
  padding-right: 1rem;
}

footer .social > a {
  color: var(--light-color);
}

footer .social > a:hover {
  opacity: 0.9;
  color: var(--secondary-color);
}

.bsicon {
  color: #602c50;
}

.jsicon {
  color: #f0db4f;
}

.html5icon {
  color: #e34c26;
}

.cssicon {
  color: #2565ae;
}

.checklist > li i {
  color: var(--secondary-color);
}

main > .container {
  padding: 60px 15px 0;
}
